/* .slider-container {
    position: relative;
}

.buttons-container {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.button {
    padding: 10px 20px;
    margin: 0 10px;
}

.prev-button {
    background-color: #ccc;
}

.next-button {
    background-color: #aaa;
} */