:root {
    --custom-color: #fff;
}

.login-container {
    max-width: 80%;
    margin: 0 auto;
    /* background-color: aqua; */
    background-image: url("https://meteor.stullercloud.com/das/47191190");
    margin-top: 2rem;
    margin-bottom: 3rem;

}


.login-first-section {
    max-width: 2.333333% !important;

}

.create-account-container {
    display: flex !important;
    flex-direction: column !important;
    gap: 3rem;
    align-items: center;
    margin-top: 2rem !important;
    /* justify-content: center; */
    place-items: flex-start;
}

.help-container {}

.help-text {
    font-size: 27px !important;
    color: var(--custom-color) !important;
    ;

}

.help-description {
    font-size: 14px !important;
    color: var(--custom-color) !important;



}

@media (max-width: 768px) {
    .login-container {
        max-width: 93% !important;

    }

    .help-text {
        text-align: center;

    }

    .help-description {
        text-align: center;
        place-items: start;
        margin: 1rem !important;


    }
}

.parent {
    position: relative;
    width: 90%;
    /* height: 200px; */
    background-color: antiquewhite;
    max-width: 1260px;
    margin: 0 auto;
    margin-bottom: 100px;
    height: 350px;
    margin: 200px auto;
    background-image: url("https://meteor.stullercloud.com/das/47191190");
    border: 1px solid transparent;
    border-radius: 5px;
}

.child {
    position: absolute;
    /* box-sizing: border-box; */
    top: 0;
    height: 100%;
    width: 50%;
}

.child:nth-child(1) {
    position: absolute;
    top: -70px;
    left: 5%;
    height: 510px;
    width: 50%;
    background-color: #FFF;
    border: 1px solid #BBB;
    /* padding: 30px 50px; */
    border-radius: 5px;
}

.child:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 324px;
    color: #fff;
    position: absolute;
    width: 39%;
    top: 0;
    left: 55%;
    padding: 3vw;
    /* background-color: aqua; */
    max-width: 550px;

}

@media screen and (max-width: 768px) {
    .parent {
        width: 95%;
        margin: 100px auto 500px !important;
        background-image: none;
    }

    .child {
        width: 100%;
    }

    .child:nth-child(1) {
        left: 0;
        width: 100%;
    }

    .child:nth-child(2) {
        left: 0;
        width: 95%;
        max-width: 100%;
        top: 120%;
        color: #555;
        gap: 0 !important;
        margin-top: 4rem;

    }
}