.app {
    font-family: Arial, sans-serif;
  }
  
  .app-bar {
    display: flex;
  }
  
  .menu-item {
    margin-right: 20px;
    position: relative;
  }
  
  .menu-item:hover .sub-menu {
    display: block;
  }
  
  .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* min-width: 120px; */
    /* width: 100vw; */
    z-index: 1;
  }
  
  .sub-menu-item {
    position: relative;
  }
  
  .sub-menu-item:hover .sub-sub-menu {
    display: block;
  }
  
  .sub-sub-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* min-width: 120px; */
    /* width: 100vw; */
    z-index: 1;
  }
  
  .sub-sub-menu div {
    background-color: "red";
  
    padding: 8px 0;
  }
  
  .sub-sub-menu div:hover {
    background-color: #f0f0f0;
    background-color: "red";
  }
  