.slide-content:hover .product-description {
    color: #75b0da !important;
}

.product-description{
    font-size: 14px !important;
    color: #555 !important;
}

.homepade-slider{
    padding: 3% 10% !important;
}