.slide-content:hover .product-description {
    color: #75b0da !important;
    /* Change to the desired highlight color */
}

.product-description{
    font-size: 14px !important;
    color: #555 !important;
}