
body {
  margin: 0;
  padding-right: 0 !important;
  overflow-x: hidden !important;
  

}
body {
  font-family: 'Roboto', sans-serif;
}


.linkStyle {
  text-decoration: none;
}

.linkStyle:hover {
  text-decoration: underline;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  padding: 0 !important;
}

.image-container {
  position: relative;
  display: "flex";
  width: 100%;
}

img {
  max-width: 100%;
}

.overlay-button {
  position: absolute;
  bottom: 25%;
  left: 75%;
  transform: translateX(-50%);
  color: #000;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1;
  text-align: end;
}

@media (max-width: 768px) {
  .overlay-button {
    font-size: 1.2em;
    padding: 8px 16px;
  }
}

@media screen and (max-width: 768px) {
  html {
    padding-right: 0;
    overflow: unset;
  }

  body {
    padding-right: 0;
    overflow: unset;
    
  }

  .overlay-button {
    bottom: 5%;
  }
}

@media screen and (max-width: 480px) {
  .overlay-button {
    padding: 15px;
  }
  #footer-section {
    /* background-color: red; */
  }
}

.description {
  margin-bottom: 28px;
  max-width: 230px;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 17px;
  display: block;
}

#Mutliback1 {
  margin: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  padding: 45px;
  border: 2px solid rgb(221, 215, 215);
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-size: cover;
}

.ysera-subtitle {
  color: #c09578;
  font-size: 14px;
  font-weight: 700;
  padding: 0 0 5px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: 'Roboto';
}

.title {
  font-weight: 700;
  line-height: 1;
  text-transform: capitalize;
  margin-bottom: 12px;
  font-size: 26px;
  line-height: 32px;
  font-size: 24px;
  margin-top: 0;
}

.description {
  margin-bottom: 28px;
  max-width: 230px;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 17px;
  display: block;
}

.button {
  border: 1px solid #c09578;
  color: #fff;
  background-color: #c09578;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-right: 5px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button:hover{
  background-color: #000;
}

@media screen and (max-width: 768px) {
  #footer-section {
    position: relative !important;
    overflow-x: hidden;
    width: 95% !important;
  }
}