.product-slider .slick-dots>li {
    /* background-color: red !important; */
    width: 70px;
    border-radius: 5px;
}

.slider-container {
    padding: 2rem !important;

}

.product-slider .abc {
    bottom: auto;
    text-align: left;
    top: 0;
    display: grid !important;
    gap: 4rem;
    right: 8rem;
}

/* .product-slider > img{ */
.applyBorder {
    border: 1px solid;
    border-radius: 5px;
}


.product-slider .slick-slide.slick-current img {
    /* Add your styles here */
    max-width: 500px;
    margin: 0 auto
}

@media (max-width: 768px) {
    .product-slider .slick-slide.slick-current img {
        max-width: 300px;
        /* Adjust as needed */
        margin: 0 auto;
        /* Center the image */
    }
    .slider-container {
        padding: 0 !important
    
    }
}

@media (max-width: 500px) {
    .product-slider {
        padding: 0rem 2rem;
        text-align: center;
    }

    .product-slider .slick-slide.slick-current img {
        max-width: 200px;
        /* Adjust as needed */
        margin: 0 auto;
        /* Center the image */
    }

    .product-slider .slick-dots {
        display: contents !important;
    }

    .product-slider .slick-dots li {
        /* Add your styles here */
        /* For example: */
        display: inline-block;
        margin: 0 5px;
        /* Adjust margin as needed */
    }
    .slider-container {
        padding: 0 !important
    
    }
}